.formationBlock,.personnelBlock{
    display: none;
}
.active,.container{
    display: block;
}
#qrcode{
    width: 256px;
    height: 256px;
    margin: auto; 
    padding-top: 2rem;
    padding-bottom: 2rem;
} 
.enabled{
    display: none;
}
.qrcodeBlock{
    display: none;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.PrendrePhoto{
    margin-left: 1rem;
}
#video{
    width: 200px;
    height: 200px;
    background-color: grey;
}
.btnAcceuil{
    margin-bottom: 3rem;
}
.rdv{
    padding-top: 1rem;
}
.groupInput{
    padding-top: 2rem;
}
.bouton{
    padding-top: 1rem;
}
.yes{
    padding-top: 2rem; 
    padding-bottom:4rem;
}
.inscriptionTitle{
    padding-top: 2rem;
}
.page{
    height: 100vh;
}
